body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

header .container {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  display: block;
}

title,
h1 {
  font-size: 56px;
  font-weight: bold;
  line-height: 60px;
  color: #ffffff;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  color: #2e2f42;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/*Header start*/

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #4d5ae5;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-second-part {
  color: #2e2f42;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list > ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.list {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.nav-list > ul > li > a {
  text-decoration: none;
  font-size: 16px;
  color: #2e2f42;
}

.nav-list > ul > li > a:hover,
.nav-list > ul > li > a:focus {
  color: #404bbf;
}

.nav-list > ul > li > a:focus {
  text-decoration: underline;
}

.contacts_info {
  margin-left: auto;
  font-style: normal;
}

.contacts_info > ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.contacts {
  display: block;
  text-decoration: none;
  color: #434455;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
/*Header end*/

/*Main start*/
/*Fisrt section start*/

.main-top-block {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-top-block .container {
  text-align: center;
}

.main-title {
  max-width: 496px;
  margin: 0 auto 48px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.order-button {
  font-family: "Roboto", sans-serif;
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  background-color: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  padding: 16px 32px;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
/*Fisrt section end*/

/*Second section start*/

.solution-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.value-list {
  display: flex;
  gap: 24px;
}

.value-item {
  width: calc((100% - 3 * 24px) / 4);
}

.value-title {
  margin-bottom: 8px;
}

.value-title,
.value-text {
  letter-spacing: 0.02em;
}
/*Second section end*/

/*Third section start*/
.team-section {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.team-core-title {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-core-list {
  display: flex;
  column-gap: 24px;
  justify-content: center;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 264px;  
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-bottom: 32px;
}

.team-title {
  margin-top: 32px;
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 0;
  text-align: center;
}
/*Third section end*/

/*Fourd section start*/

.portfolio-section{
  padding: 120px 0;
}

.portfolio-core-title {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolilo-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-title,
.portfolilo-text {
  letter-spacing: 0.02em;
}

.portfolilo-text{
  padding: 0 16px 32px 16px;
}
.portfolio-title{
  padding: 32px 16px 8px 16px;
}

.portfolio-item {
  width: calc((100% - 3 * 24px) / 3);
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  border-top: none;         
}

/*Fourd section end*/

/*Main end*/

/*Footer start*/
.footer-section {
  background-color: #2e2f42;
  padding: 100px 0; 
}

.footer-section .logo {
  display: inline-block;
  margin-bottom: 16px;      
}

.footer-section .logo .logo-second-part {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;              
  margin: 0;                     
  line-height: 1.5;
}
/*Footer end*/
